body{
	background-color: #EEF0F7;
	overflow: hidden;
	margin-left: 20%;
	margin-top: 10%;
	}

.cart{
	max-width: 70%;
	max-height: 60%;
	background-color: #FFFFFF;
	border-radius: 15px;
}

.search{
	max-width: 100%;
	height: 30%;
	padding-top: 5%;
	padding-left: 5%;
	margin-bottom: -85px;
}

.search input{
	border:none;
	font-size: 16px;
	margin-left: 10px;
}

hr{
	color: #F2F2F2;
}
.trending-shortcuts{
	margin-left: 5%;
}
.trending-shortcuts h2{
	font-size: 12px;
	color: #B5B8C1;

}

.trending-shortcuts button:nth-child(2){
	background-color:#F9EFFA; 
	border: none;
	width: 15%;
	height: 30px;
	border-radius: 3px;
	margin-right: 10px;
}
.trending-shortcuts button:nth-child(3){
	background-color:#E6F6F2; 
	border: none;
	width: 20%;
	height: 30px;
	border-radius: 3px;
	margin-right: 10px;
}
.trending-shortcuts button:last-child{
	background-color:#F4F3FD; 
	border: none;
	width: 15%;
	height: 30px;
	border-radius: 3px;
}

.recent-searches{
	margin-left: 5%;
	margin-top: 3%;

}

.recent-searches h2{
	font-size: 12px;
	color: #B5B8C1;
}

.recent{
	padding-bottom: 3%;
	padding-top: 3%;
	margin-right:100px; 

}



.delete{
	float: right;
	margin-top: -5%;
	margin-right: 100px;
}

.delete a:link{
	color: black;
	text-decoration:none;

}





